DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"
PORT=3000

# API Security Keys
# Pre-shared key for authorizing requests to this API
API_KEY="your_api_key_here"

# IDCloudHost API Credentials
# Used by this app to call IDCloudHost
IDCLOUDHOST_API_TOKEN="your_idcloudhost_api_token_here"
